[user]
	name = Simon Fugl
	email = sifug20@student.sdu.dk
[core]
	longpaths = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = "!f() { /home/container/.vscode-server/bin/30d9c6cd9483b2cc586687151bcbcd635f373630/node /tmp/vscode-remote-containers-1197010c117e36ea2c2a8619147b7141236edd6d.js $*; }; f"
[filter "gitignore"]
	clean = "sed '/#gitignore$/d'"
	smudge = cat
